.VideoContainer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 10px 30px 10px 30px;
  background-color: rgba(92, 240, 240, 0);
  height: 200px;
  width: 100vw;
}

.Signalling {
  border-radius: 500px;
  opacity: 1;
}

